body{
    background-color: #fdf6e3;
    color: black;
    font-size: 11pt;
}

pre{
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}


#terminal{
    width: 60%;
    height: 80%;
    float: left;
}

#content{
    float: right;
    width: 39%;
}

